{{yield}}

<div class="col-xs-4">
  <h4><span class="label label-primary">{{house.name}}</span></h4>
  <div class="well" style="margin-top:12px;">
    <ul>
      <li>Phone Number: <b>{{house.phone}}</b></li>
      <li>Committee ID: <b>{{house.committee_id}}</b></li>
      <li>Chambers: <b>{{house.chamber}}</b></li>
      <li>Office: <b> {{house.office}}</b></li>
    </ul>
  </div>
</div>
