{{yield}}


<div class="">
  <div class="">
    <div class="col-xs-4">
      <div class="well well-lg">
        <div class="row">
            <h1><h5><span class="label label-default">{{president.party}}</span></h5>{{president.name}}</h1>
            <a href="{{president.urls.[0]}}">{{president.urls.[0]}}</a>
        </div>
        <div class="">
          <div class="row">
            <img src="{{president.photoUrl}}" alt="" width="100%" height="100%"/>
          </div>
          <div class="row">
            {{#each president.channels as |social|}}
              <div class="col-xs-3">
                  <h4><span class="label label-default">{{social.type}}</span></h4>
                  <h5><a href="http://www.{{social.type}}.com/{{social.id}}" target="_blank"><span class="label label-info">{{social.id}}</span></a></h5>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
